<div id="container">
    <div id="container-inner">
        <div id="header">
            <div id="header-inner">
                <div id="header-content">
                    <div id="header-name">
                        <%- config.title %>
                            <span id="site_location"> »
                                <a href="/">首页</a>
                            </span>
                    </div>
                </div>
            </div>
        </div>
        <div id="content">
            <div id="content-inner">
                <div id="alpha">
                    <div id="alpha-inner">
                        <h1 id="page-title" class="archive-title">
                            <% if(page.tag){ %>
                                <%= page.tag%>
                                    <%}else{%>文章存档
                                        <%}%>
                        </h1>
                        <% if (is_home()){%>
                            <div id="entry-1979" class="entry-asset asset hentry">
                                <div class="asset-header">
                                    <h2 class="asset-name entry-title">
                                        <a href="<%- url_for(page.posts.data[0].path)%>" rel="bookmark">
                                            <%= page.posts.data[0].title %>
                                        </a>
                                    </h2>
                                    <p id="asset-tags">
                                        标签
                                        <span class="delimiter">：</span>
                                        <% page.posts.data[0].tags.forEach(function(tag){ %>
                                            <a href="/tags/<%= tag.name %>" rel="tag">
                                                <%= tag.name %>
                                            </a>
                                            <% }) %>
                                    </p>
                                </div>
                                <div class="asset-content entry-content">
                                    <div class="asset-body">
                                        <%- page.posts.data[0].excerpt %>
                                    </div>
                                    <div class="asset-more-link">
                                        <p>
                                            <a href="<%- url_for(page.posts.data[0].path)%>" rel="bookmark">继续阅读全文 »</a>
                                        </p>
                                    </div>

                                </div>
                            </div>
                        <%}%>
                                <div class="module-categories module">
                                    <h2 class="module-header">
                                        <%if(is_home()){%>
                                            最近的
                                            <%= config.index_generator.per_page%>篇文章（共
                                                <%= site.posts.length %>篇)
                                                    <%}else{%>
                                                        共有
                                                        <%= page.posts.length %>篇
                                                            <%}%>
                                    </h2>
                                    <div class="module-content">
                                        <ul class="module-list">
                                            <% page.posts.each(function(post){ %>
                                                <li class="module-list-item">
                                                    <%= post.date.format(config.date_format) %>：
                                                        <a href="<%- url_for(post.path)%>">
                                                            <%= post.title%>
                                                        </a>
                                                </li>
                                            <% }) %>
                                        </ul>
                                    </div>
                                </div>
                    </div>
                </div>
                <div id="beta">
                    <div id="beta-inner">
                        <div class="module-categories module">
                            <h2 class="module-header">标签</h2>
                            <div class="module-content">
                                <ul class="module-list">
                                    <% site.tags.map(function(tag){  %>
                                        <li class="module-list-item">
                                            <a href="/tags/<%= tag.name %>" title="散文">
                                                <%= tag.name %>
                                            </a>(
                                            <%= tag.length %>)
                                        </li>
                                        <% }) %>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="module-categories module">
                        <h2 class="module-header">关于我</h2>
                        <div class="module-content">
                            <ul class="module-list">
                                <p class="module-list-item">
                                    <a href="/">
                                        <img src="<%- url_for(theme.img) %><%- theme.avatar%>" height="106" alt="个人照片" />
                                    </a>
                                </p>
                                <li class="module-list-item">
                                    <a href="<%- theme.weibo%>">微博</a>
                                    <a href="<%- theme.github%>" target="_blank">github</a>
                                </li>
                                <li class="module-list-item">
                                    <%- config.description %>
                                </li>
                                <li class="module-list-item">
                                    <a href="/about" style="color:green">更多</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>