<script>
    if (/mobile/i.test(navigator.userAgent) || /android/i.test(navigator.userAgent)) document.body.classList.add('mobile');
</script>
<div id="container">
    <div id="container-inner">
        <div id="header">
            <div id="header-inner">
                <div id="header-content">
                    <div id="header-name">阮一峰的网络日志
                        <span id="site_location"> »
                            <a href="/" accesskey="1">首页</a>
                        </span>
                        <span id="site_location"> »
                            <%= page.title %>
                        </span>
                    </div>
                    <!-- <div id="google_search">
                        <form action="https://www.baidu.com/s" target="_blank" method="get" id="cse-search-box">
                            <div>
                                <input type="text" size="20" name="origin" class="searchbox" id="sbi" value="" />
                                <input type="hidden" name="wd" value="" />
                                <input type="image" src="/static/themes/theme_scrapbook/images/top_search_submit.gif" class="searchbox_submit" value="" alt="搜索"
                                    name="sa" onclick="this.form.wd.value = this.form.origin.value + ' 阮一峰'" />
                            </div>
                        </form>
                    </div> -->

                </div>
            </div>
        </div>

        <div id="content">
            <div id="content-inner">
                <div id="alpha">
                    <div id="alpha-inner">
                        <div id="entry-1978" class="entry-asset asset hentry">
                            <div class="asset-header">
                                <div class="asset-nav entry-nav">

                                    <div class="entry-location">
                                        <ul>
                                            <% if (page.prev){ %>
                                                <li>上一篇：
                                                    <a href="<%- config.root %><%- page.prev.path %>" title="<%- page.prev.title %>">
                                                        <%- page.prev.title %>
                                                    </a>
                                                </li>
                                                <% } %>
                                                    <% if (page.next){ %>
                                                        <li>下一篇：
                                                            <a href="<%- config.root %><%- page.next.path %>" title="<%- page.next.title %>">
                                                                <%- page.next.title %>
                                                            </a>
                                                        </li>
                                                        <% } %>
                                        </ul>
                                    </div>
                                    <div class="entry-categories">
                                        <p>标签
                                            <span class="delimiter">：</span>
                                        </p>
                                        <ul>
                                            <% page.tags.forEach(function(tag){ %>
                                                <li>
                                                    <a href="/tags/<%= tag.name %>" rel="tag">
                                                        <%= tag.name %>
                                                    </a>
                                                </li>
                                                <% }) %>

                                        </ul>
                                    </div>
                                    <div class="entry-location-mobile" style="float: right;">
                                        <ul>

                                            <% if (page.prev){ %>
                                                <li>
                                                    <a href="<%- config.root %><%- page.prev.path %>" title="<%- page.prev.title %>">
                                                        <%- page.prev.title %>
                                                    </a>
                                                </li>
                                                <% } %>
                                                    <% if (page.next){ %>
                                                        <li>
                                                            <a href="<%- config.root %><%- page.next.path %>" title="<%- page.next.title %>">
                                                                <%- page.next.title %>
                                                            </a>
                                                        </li>
                                                        <% } %>
                                        </ul>
                                    </div>

                                </div>
                            </div>
                            <article class="hentry">
                                <h1 id="page-title" class="asset-name entry-title"><%= page.title %></h1>
                                <div id="share_button" class="social-share" style="float:right;padding-right:2em;padding-top:1em;"></div>
                                <div class="asset-meta">
                                    <p class="vcard author">作者：
                                       <%- config.author %>
                                    </p>
                                    <p>日期：
                                        <abbr class="published" title="2018-03-05T07:58:27+08:00"> <%= page.date.format(config.date_format) %></abbr>
                                    </p>
                                </div>

                                <div class="asset-content entry-content" id="main-content">
                                        <%- page.content %>
                                    <p>（完）</p>


                                </div>
                                <div class="asset-footer">

                                    <h3>文档信息</h3>
                                    <ul>
                                        <li>版权声明：自由转载-非商用-非衍生-保持署名（
                                            <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/deed.zh">创意共享3.0许可证</a>）</li>
                                        <li>发表日期：
                                            <abbr class="published" title="2018-03-05T07:58:27+08:00"><%= page.date.format(config.date_format) %></abbr>
                                        </li>
                                        <li>社交媒体：
                                            <a href="https://twitter.com/ruanyf" target="_blank">
                                                <img src="<%- url_for(theme.img) %>/GitHub.png"
                                                    style="border:0;">github</a>，
                                            <a href="http://weibo.com/ruanyf" target="_blank">
                                                <img src="<%- url_for(theme.img) %>/weibo.png"
                                                    style="border:0;" />weibo</a>
                                        </li>

                                    </ul>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>