<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="generator" content="Movable Type  5.2.2" />
<link rel="stylesheet" href="<%- url_for(theme.css) %>/base.css" type="text/css" />
<link rel="stylesheet" href="<%- url_for(theme.css) %>/<%- theme.highlight_theme%>.css" type="text/css" />
<link rel="stylesheet" href="<%- url_for(theme.css) %>/theme.css" type="text/css" />
<script type="text/javascript" src="<%- url_for(theme.js) %>/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<link rel="shortcut icon" type="image/x-icon" href="<%- url_for(theme.img)%><%- theme.favicon%>" />
<meta name="keywords" content="<%- theme.keywords%>"/>
<%
  var title = page.title;
%>
  <title><% if (title){ %><%= title %> | <%= config.title %> <% } else{ %><%= config.title %> | <%= config.subtitle%> <% } %></title>
</head>